.next,
.block-info__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.block-info__title,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.form-clothes__text,
.form-sex__text,
.header-block__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

body {
  background: #000;
  font-size: 16px;
  line-height: 1.2;
}

.preload {
  display: none;
}

.preload._active {
  display: block;
}

.preload-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.preload__title {
  text-align: center;
  color: rgb(255, 0, 234);
  background: rgb(43, 43, 43);
  padding: 30px 10px;
  margin: 10px;
  border-radius: 20px;
}

.preload__link {
  color: aliceblue;
  text-decoration: underline;
}

.block {
  display: none;
}

.block._active {
  display: block;
}

.header {
  background: rgb(43, 43, 43);
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.header-block__title {
  text-align: center;
  color: rgb(255, 0, 234);
  font-size: 3em;
}

.main__inner {
  position: relative;
}

.block-info {
  position: absolute;
  left: 0;
  right: 0;
  background: rgb(43, 43, 43);
  margin: 10px;
  border-radius: 20px;
  padding: 50px 5px 200px;
}

.block-info.js-block {
  opacity: 0;
  visibility: hidden;
}

.block-info.js-block._active {
  opacity: 1;
  visibility: visible;
}

.block-info__title {
  font-size: 2.5em;
  color: aquamarine;
  margin-bottom: 50px;
}

.block-info__text {
  font-size: 2em;
  color: bisque;
}

.block-info__text.block-info__text--long {
  margin-bottom: 700px;
}

.block-info__item {
  color: burlywood;
  margin-bottom: 20px;
}

.block-info__link {
  color: yellow;
  font-size: 2em;
}

.no-webp .block-info__img-block {
  background-image: url("../img/darius.jpg"); }

.block-info__img-block {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 500px;
}

.header-link {
  text-decoration: none;
}

.header-link:hover {
  text-decoration: none;
}

.next {
  color: rgb(0, 255, 21);
  font-size: 2em;
}

.form-clothes,
form-sex {
  margin-bottom: 100px;
}

.form-clothes__label,
.form-sex__label {
  display: block;
  margin-bottom: 30px;
  cursor: pointer;
}

.form-clothes__text,
.form-sex__text {
  font-size: 2.2em;
  color: rgb(177, 68, 68);
}

@media (max-width: 1000px) {
  body {
    font-size: 10px;
  }
}

@media (max-width: 650px) {
  .block-info__img-block {
    height: 350px;
  }
}

@media (max-width: 450px) {
  .block-info__img-block {
    height: 270px;
  }
}

.webp .block-info__img-block { background-image: url(../img/darius.webp); }